extends layout

block content
  h1  Kairos Devices:
  section.css-table
    section.two-column
      section.cell
        h2 Virtual Lights
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
        p At lupatum delenit .
      section.cell
        h2 Router Node (Gateway)
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
        p At Vixit.
  section.css-table
    section.three-column
      section.cell
        h3 Goya 
        p Node HW: cc2538 + SmartRF06
      section.cell
        h3 Phasellus lacus
        p Lorem ipsum dolar.
      section.cell
        h3 Aliquam vulputate
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
