extends layout

block content
  h1  Kairos Project:
  section.css-table
    section.two-column
      section.cell
        h2 Author:
        p 
          | 
          a(href="http://www.linkedin.com/pub/jorge-alcantara-barroso/66/3a2/6a2/")  Jorge Alcantara Barroso
      section.cell
        h2 About
        p The proposition is to implement a general monitoring module. Power monitoring as well as heating light remote control are the main trending topics in Home Automation. The motivation of the research is to keep consumption low as much energy and therefore capital can be saved from this.
        p 
  section.css-table
    section.three-column
      section.cell
        h3 Version 
        p 0.9.25
      section.cell
        h3 Resources:
        p
          | Thingsquare: 
          a(href="http://www.thingsquare.com/") Thinsqare webpage 
          | 
        p 
          |  Contiki: 
          a(href="http://www.contiki-os.org/") Contiki webpage 
        p
          |  Node.js + Expressjs: 
          a(href="http://nodejs.org/") Node.js webpage 
          |  , 
          a(href="http://expressjs.com/") Express webpage 
          |  
        p 
          |  Texas Instruments cc2538DK: 
          a(href="http://www.ti.com/sitesearch/docs/universalsearch.tsp?searchTerm=cc2538dk#linkId=1&src=top") CC2538 
      section.cell
        h3 Project Report.
        p IN process of uploading.
